/* index page module */

/* GRID */

body{
	background-color: #232628;
}

.wrapper {
	background: linear-gradient(233deg, #724242, #252525);
	background-size: 400% 400%;
    -webkit-animation: bgAnim 25s ease infinite, fadein 1s ease;
    -moz-animation: bgAnim 25s ease infinite, fadein 1s ease;
    animation: bgAnim 25s ease infinite, fadein 1s ease;

	display: grid;
	grid-template-columns: 0.6fr;
	grid-template-rows: auto;
	padding: 2em 14em;
	padding-top: 12em;
	background-color: #232628;
	grid-gap: 5em;
}

@-webkit-keyframes fadein {
    from { opacity: 0; 
    		}
    to   { opacity: 1; 
    		}
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1;}
}

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1; }
}

@-webkit-keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@-moz-keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}

.header{
	grid-column: 1/-1;
	grid-row: 1;
}

.hero{
	grid-column: 1/-1;
	object-fit: contain;
	width: 100%;
	grid-row: 2;
}



