/*layout css*/

.lgMenu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
	padding: 2em 14em;
	z-index: 3;
	position: fixed;
}

.uparrowtrans{
	position: fixed;
	bottom: 0;
	right: 0;
	padding-bottom: 2em;
	padding-right: 7em;
	transition: 0.5s;
	cursor: pointer;
	opacity: 0;
}

.uparrow{
	position: fixed;
	bottom: 0;
	right: -75px;
	transition: 0.5s;
	cursor: pointer;
	opacity: 1;
}

.uparrow:hover {
	padding-bottom: 4em;

}

.logo{
	font-family: proxima_novabold;
	font-size: 3em;
	padding-right: 1em;
	background: linear-gradient(233deg, #58CDE8, #DB4040, #FFEA83, #8357BC);
  	background-size: 5em 10em;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	-webkit-animation: bgAnim 20s ease infinite;
    -moz-animation: bgAnim 20s ease infinite;
    animation: bgAnim 20s ease infinite;
}


@-webkit-keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@-moz-keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}

.menuitem{
	font-size: 1.3em;
	padding-right: 1em;
}

.menuright {
	z-index: 3;
	align-self: center;
	justify-self: end;
	grid-column: 3;
}

