/* index page module */

/* GRID */

body{
	background-color: #232628;
}

.wrapper {
	background: linear-gradient(233deg, #0A0D0C, #232628);
	background-size: 400% 400%;
    -webkit-animation: bgAnim 25s ease infinite, fadein 1s ease;
    -moz-animation: bgAnim 25s ease infinite, fadein 1s ease;
    animation: bgAnim 25s ease infinite, fadein 1s ease;

	display: grid;
	grid-template-columns: 0.3fr 0.65fr 1fr;
	grid-template-rows: auto;
	padding: 2em 14em;
	padding-top: 12em;
	background-color: #232628;
	grid-gap: 5em;
}

@-webkit-keyframes fadein {
    from { opacity: 0; 
    		}
    to   { opacity: 1; 
    		}
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1;}
}

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1; }
}

@-webkit-keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@-moz-keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}

.header{
	grid-column: 1/-1;
	grid-row: 1;
}

.hero{
	grid-column: 1/-1;
	object-fit: contain;
	width: 100%;
	grid-row: 2;
}

.texthero {
	grid-column: 1/3;
	grid-row: 3;
}

.empt {
	grid-column: 2/-1;
	grid-row: 3;
}


.perfiles{
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: 0.3fr 0.65fr;
	grid-template-rows: auto;
	grid-column-gap: 3em;
}

.ustexto{
	display: grid;
}

.ustitle{
	
}

.usdesc{
	align-self: end;
}

.perfiles h2{
	word-spacing: 300em;
}

#textbea{
	word-spacing: 0em;
}

.xarxes {
    display: grid;
    grid-template-columns: 3em 3em 3em;
}
.menuitem{
    font-size: 1.3em;
    padding-right: 1em;
    float: left;
    display: inline;
}