/* poject page module */

/* GRID */

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100vh;
	padding: 0em;
}


.wrappertwo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100vh;
	padding: 0em;
}

.wrapperthree {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100vh;
	padding: 0em;
}

.wrapperfour {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100vh;
	padding: 0em;
}



@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@-moz-keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}

.texto {
	font-family: proxima_novabold;
	font-size: 7.5em;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	transform: rotate(-180deg);
}

.proyecto {
	height: 100vh;
	background-size: cover;
	display: flex;      
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex; 
	align-items: flex-end;
	justify-content: flex-end;
	
}

.texto{
	margin-bottom: 0.15em;
	margin-right: 0.15em;
}

#pprimero{
	grid-column: 1;
	background-image: url('../img/proyectos/ultimo.jpg');
}

#psegundo{
	grid-column: 2;
	background-image: url('../img/proyectos/singlu.jpg');
}

#ptercero{
	grid-column: 3;
	background-image: url('../img/proyectos/xabia.jpg');
}

#pcuarto{
	grid-column: 4;
	background-image: url('../img/proyectos/paredes.jpg');
}

#pprimerofade{
	grid-column: 1;
	background-image: url('../img/proyectos/ultimo.jpg');
	opacity: 0.1;
}

#psegundofade{
	grid-column: 2;
	background-image: url('../img/proyectos/singlu.jpg');
	opacity: 0.1;
}

#ptercerofade{
	grid-column: 3;
	background-image: url('../img/proyectos/xabia.jpg');
	opacity: 0.1;
}

#pcuartofade{
	grid-column: 4;
	background-image: url('../img/proyectos/paredes.jpg');
	opacity: 0.1;
}


#tint{
	z-index: 10;
	background-color: blue;
}