/* poject page module */

/* GRID */

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100vh;
	padding: 0em;
}


/* ANIMACIONS */

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadeinb {
    from { opacity: 0; }
    to   { opacity: 0.6; }
}

@-moz-keyframes fadeinb {
    from { opacity: 0; }
    to   { opacity: 0.6; }
}

@keyframes fadeinb {
    from { opacity: 0; }
    to   { opacity: 0.6; }
}

@-webkit-keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@-moz-keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@keyframes bgAnim {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}

/* STYLES */

.texto {
	font-family: proxima_novabold;
	font-size: 7.5em;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	transform: rotate(-180deg);
}

.proyecto {
	height: 100vh;
	background-size: cover;
	display: flex;      
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
	align-items: flex-end;
	justify-content: flex-end;
}

.proyecto:hover {
	opacity: 1;
	color: white;
}

.wrapper a:hover{
	color: white;
}

.texto{
	margin-bottom: 0.15em;
	margin-right: 0.15em;
}

#pprimero{
	opacity: 0.6;
	grid-column: 1;
	background-image: url('../img/proyectos/ultimo.jpg');
	animation: fadeinb 1s ease backwards;
	transition: 0.8s;
}

#psegundo{
	opacity: 0.6;
	grid-column: 2;
	background-image: url('../img/proyectos/singlu.jpg');
	animation: fadeinb 1s ease 0.4s backwards;
	transition: 0.8s;
}

#ptercero{
	opacity: 0.6;
	grid-column: 3;
	background-image: url('../img/proyectos/xabia.jpg');
	animation: fadeinb 1s ease 0.8s backwards;
	transition: 0.8s;
}

#pcuarto{
	opacity: 0.6;
	grid-column: 4;
	background-image: url('../img/proyectos/paredes.jpg');
	animation: fadeinb 1s ease 1.2s backwards;
	transition: 0.8s;
}


#tint{
	z-index: 10;
	background-color: blue;
}

#pprimero:hover, #psegundo:hover, #ptercero:hover, #pcuarto:hover {
	opacity: 1;
	color: white;
}